.footer {
  background-color: black; // Change background color to black
  padding: 40px 0;
  color: white; // Change text color to white for better visibility

  .footer-logo {
    max-height: 60px;
    margin-right: 20px;
  }

  h5 {
    font-size: 1.25rem;
    color: white; // Change heading color to white
    margin-bottom: 1rem;
  }

  p,
  a {
    color: #ccc; // Set text and link color to a lighter shade
    font-size: 1rem;
    text-decoration: none;
  }

  a:hover {
    color: #007bff; // Link hover color
  }

  .social-icon {
    font-size: 1.5rem;
    color: #ccc; // Social icon color
    margin: 0 10px;
    transition: color 0.3s ease;
  }

  .social-icon:hover {
    color: #007bff; // Social icon hover color
  }

  .text-success {
    color: #ff1493; // Button/brand color
  }

  .text-success:hover {
    color: #007bff;
  }

  .row {
    margin-top: 20px;
  }

  .row.text-center p {
    font-size: 0.875rem;
    color: white; // Change text color to white
  }
}
